mat-card {
     display: flex;
     margin: 0 auto;
     align-items: center;
     width: 50%;
}
.login-form {
  width: 100%;
}
.form-field {
  width: 100%;
}
.buttons {
     margin-top: 20px;
     text-align: center;
}
button {
     margin-right: 20px;
}
mat-card-title {
     margin-bottom: 20px;
}