<mat-card>
  <mat-card-header>
    <mat-card-title>User Update</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="update-form" [formGroup]="updateForm" (ngSubmit)="proceedUpdate()">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <div class="radio">
        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field class="form-field">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
      <div class="buttons">
          <button type="submit" mat-raised-button color="primary">Update</button>
          <button mat-dialog-close mat-raised-button color="accent">Close</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<!--
      
-->